@import 'vars';
header {
    .navbar-collapse {
        justify-content: flex-end;
        display: flex;
        font-size: 1.3rem;
    }
    .navbar {
        background-color: $maincolor;
    }
    .nav-link {
        color: white;
    }
}